node-red.json
[
    {
        "id": "d0edacd77c3da6a1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b855548980174576",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "ddb1e18b9b0cadb3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn On",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "f8afc7e2c8826e0b"
            ]
        ]
    },
    {
        "id": "651dfe9475f46c52",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "ddb1e18b9b0cadb3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Turn Off",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "f8afc7e2c8826e0b"
            ]
        ]
    },
    {
        "id": "f8afc7e2c8826e0b",
        "type": "mqtt out",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1e95d36f322054c5",
        "x": 300,
        "y": 100,
        "wires": []
    },
    {
        "id": "dbeb1ca709204b63",
        "type": "mqtt in",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e95d36f322054c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "a4bd077df5fc26ab",
                "7901bef03d7c5be0"
            ]
        ]
    },
    {
        "id": "a4bd077df5fc26ab",
        "type": "debug",
        "z": "d0edacd77c3da6a1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "7901bef03d7c5be0",
        "type": "ui_text",
        "z": "d0edacd77c3da6a1",
        "group": "ddb1e18b9b0cadb3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "881dfdec329b9320",
        "type": "mqtt in",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e95d36f322054c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 340,
        "wires": [
            [
                "d56eaf3630fcc5eb",
                "bd44266ad3dbc930"
            ]
        ]
    },
    {
        "id": "d56eaf3630fcc5eb",
        "type": "debug",
        "z": "d0edacd77c3da6a1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "bd44266ad3dbc930",
        "type": "ui_gauge",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "365ea1cdfa491840",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temp Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 360,
        "wires": []
    },
    {
        "id": "797896b0c807ebae",
        "type": "mqtt in",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e95d36f322054c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 440,
        "wires": [
            [
                "fa19fc4fce0d165b",
                "a37d55539f9e9d42"
            ]
        ]
    },
    {
        "id": "fa19fc4fce0d165b",
        "type": "debug",
        "z": "d0edacd77c3da6a1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "a37d55539f9e9d42",
        "type": "ui_gauge",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "409d978c88932ade",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Hum Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea8df7ac8c59c81b",
        "type": "mqtt in",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/ldrlamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "1e95d36f322054c5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "99a7bf37e2122407",
                "4514b3ea115803fd",
                "1e4b2512d0e9beb8"
            ]
        ]
    },
    {
        "id": "99a7bf37e2122407",
        "type": "debug",
        "z": "d0edacd77c3da6a1",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 620,
        "wires": []
    },
    {
        "id": "4514b3ea115803fd",
        "type": "ui_text",
        "z": "d0edacd77c3da6a1",
        "group": "9f8936ac44979ceb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Lamp Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 660,
        "wires": []
    },
    {
        "id": "1e4b2512d0e9beb8",
        "type": "ui_gauge",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "9f8936ac44979ceb",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lux Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 700,
        "wires": []
    },
    {
        "id": "ecac9f954292e4c3",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "9f8936ac44979ceb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 580,
        "wires": [
            [
                "ea2cde33278f53cd"
            ]
        ]
    },
    {
        "id": "2998903f58a32d89",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "9f8936ac44979ceb",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 620,
        "wires": [
            [
                "ea2cde33278f53cd"
            ]
        ]
    },
    {
        "id": "ea2cde33278f53cd",
        "type": "mqtt out",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/ldrbutton",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1e95d36f322054c5",
        "x": 280,
        "y": 600,
        "wires": []
    },
    {
        "id": "3e5e1db099f3e81b",
        "type": "mqtt out",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "topic": "Kel5_ESP32/locking",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "1e95d36f322054c5",
        "x": 280,
        "y": 800,
        "wires": []
    },
    {
        "id": "d76fcd36f52ad7e2",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "569acfb89cf627cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Lock ",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 780,
        "wires": [
            [
                "3e5e1db099f3e81b"
            ]
        ]
    },
    {
        "id": "89f768396e56507d",
        "type": "ui_button",
        "z": "d0edacd77c3da6a1",
        "name": "",
        "group": "569acfb89cf627cf",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Unlock",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 70,
        "y": 820,
        "wires": [
            [
                "3e5e1db099f3e81b"
            ]
        ]
    },
    {
        "id": "ddb1e18b9b0cadb3",
        "type": "ui_group",
        "name": "Control IOT",
        "tab": "91789b7af924d24a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1e95d36f322054c5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "365ea1cdfa491840",
        "type": "ui_group",
        "name": "Temperature Monitor",
        "tab": "0497a87cb5cae5b7",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "409d978c88932ade",
        "type": "ui_group",
        "name": "Humidity Monitor",
        "tab": "0497a87cb5cae5b7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f8936ac44979ceb",
        "type": "ui_group",
        "name": "LDR Monitor",
        "tab": "340a41936374f5cd",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "569acfb89cf627cf",
        "type": "ui_group",
        "name": "Door Key",
        "tab": "340a41936374f5cd",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "91789b7af924d24a",
        "type": "ui_tab",
        "name": "IOT Project Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0497a87cb5cae5b7",
        "type": "ui_tab",
        "name": "Temperature and Humidity",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "340a41936374f5cd",
        "type": "ui_tab",
        "name": "LDR Lamp",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]